In [ ]:
#Uppgift: m04u01
tal = 1
for i in range (10,1,-2):
    print(i)
    tal *= i
else:
    print("SUmman är", tal)

In [ ]:
#Uppgift: m04u01

#Redan gjort den

In [1]:
summa = 0
start = 10
stopp = 20
print("\nVi loopar från {} till {}.".format(start, stopp))
# Loopar från start till stopp
for i in range (start, stopp+1):
    summa += i
    # Om i är jämnt delbart med 3 skriver vi ut en delberäkning
    if i % 3 == 0:
        print("När i är {} så är totalsumman {}".format(i, summa))
# else som tillhör loopen och körs när loopen har körts färdigt
else:
    print("När vi loopat färdigt så är summan {}".format(summa))

Vi loopar från 10 till 20.
När i är 12 så är totalsumman 33
När i är 15 så är totalsumman 75
När i är 18 så är totalsumman 126
När vi loopat färdigt så är summan 165

In [37]:
#m04u03
tal = int(input("Skriv ditt tal"))
tal2 = int(input("Skriv ditt tal"))
for i in range(1,tal+1):
    print(*("{:4}".format(i*rad) 
    for rad in range (1,tal2+1)))

 1  2  3  4  5  6  7  8  9 10
 2  4  6  8 10 12 14 16 18 20
 3  6  9 12 15 18 21 24 27 30
 4  8 12 16 20 24 28 32 36 40
 5 10 15 20 25 30 35 40 45 50
 6 12 18 24 30 36 42 48 54 60
 7 14 21 28 35 42 49 56 63 70
 8 16 24 32 40 48 56 64 72 80
 9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [1]:
#m04u04
num = 1

while num < 11:
    print(num)
    num += 1
else:
    print("Det var alla tal")

1
2
3
4
5
6
7
8
9
10
Det var alla tal

In [30]:
#m04u05

antal = 100
år = 0

while antal < 1000000:
    antal *= 2
    år += 1
else: print (f"Det tar {år} år")

Det tar 14 år

In [32]:
#m04e02

In [ ]:
#m04u06